<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/javascript/javascript.js"></script>
        <title>My Website</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            .CodeMirror {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <textarea id="code-editor">{{{fileContent}}}</textarea>
        <script>
            const editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
                lineNumbers: true,
                autoCloseTags: true,
                mode: 'javascript',
                readOnly: true,
                matchTags: {bothTags: true},
                showTrailingSpace: true,
            });
        </script>
    </body>
</html>